.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: cornflowerblue !important;
}

.nav-link {
  color:white !important;
}

.btn-secondary:hover {
    text-decoration: none;
    color: black !important;
    background:lightskyblue !important
      }

