



    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/4.jpg" width="100%" height="650vw">
        <div class="carousel-caption  d-md-block">
          <!--d-none-->
          <button class="btn btn-primary mx-2" value="">kjaksjaklsjkl</button>
          <button class="btn btn-outline mx-2" value="">kjaksjaklsjkl</button>
          <h2 style="font-size: 2.2em; ">First slide label</h2>
          <p style="font-size: 1.9em; "> Nulla vitae elit libero, a pharetra augue mollis interdum.</p>

        
    </div>
  </div>